<script src="../main/main.js"></script>
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark light-green">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"><img src="images/Icon.png" height="40" class="d-inline-block align-top" alt="toDoIcon"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul ng-controller="navCtrl" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- <ng-include ng-if="!connServ.isConnected" src="'connection_link.html'">
                 </ng-include>-->
                <li ng-if="!connServ" class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#connexion">Se Connecter</a>
                </li>
                <!--<ng-include ng-if="connServ.isConnected" src="'connected_link.html'"></ng-include>-->
                <li ng-if="connServ" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> {{name}} </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" ng-click="profil()" href="">Profil</a>
                        <a ng-click="deconnect()" class="dropdown-item" href="#">Se déconnecter</a>
                    </div>
                </li>
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <div class="view" ></div>
</header>

<main ng-controller="profilCtrl" class="container">
    <div class="card mx-5 my-3">

        <h5 class="card-header white h4 text-center py-4">
            <strong>Modifier le profil</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="">
                <!-- Username -->
                <div class="md-form mt-3">
                    <input type="text" ng-model="username" id="username" class="form-control mod">
                    <label for="username">Username</label>

                </div>

                <div class="md-form mt-3">
                    <input type="text" ng-model="name" id="name" class="form-control mod">
                    <label for="name">Username</label>
                </div>

                <div class="md-form">
                    <input ng-model="email" type="email" id="email" class="form-control mod">
                    <label for="email">E-mail</label>
                </div>

                <!-- Sign in button -->
                <button ng-click="updateProfile()" class="btn btn-light-green btn-block">Enregistrer</button>

            </form>
            <!-- Form -->

        </div>

    </div>

    <div class="card mx-5 my-3">

        <h5 class="card-header white h4 text-center py-4">
            <strong>Changer de mot de passe</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5">

            <!-- Form -->
            <form novalidate name="upForm" class="text-center" style="color: #757575;" action="">
                <!-- Username -->
                <div class="md-form mt-3">
                    <input type="password" ng-model="formerPwd" id="formerPwd" class="form-control" required>
                    <label for="formerPwd">Ancien mot de passe</label>

                </div>

                <div class="md-form mt-3">
                    <input type="password" ng-model="newPwd" id="newPwd" class="form-control" required>
                    <label for="name">Nouveau mot de passe</label>
                </div>

                <div class="md-form">
                    <input ng-model="cnewPwd" equals-to="newPwd" id="cnewPwd" type="password" class="form-control" required>
                    <label data-error="Mots de passe non identiques" data-success="Mots de passe identiques" for="cnewPwd">Confirmer nouveau mot de passe</label>
                </div>

                <!-- Sign in button -->
                <button ng-click="updatePassword()" class="btn btn-light-green btn-block">Enregistrer</button>

            </form>
            <!-- Form -->

        </div>

    </div>
</main>